<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Welcome to the Sample User Forum</h1>
<p>
  This is the home page for the sample User Forum.
</p>

<%= link_to "Sign up now!", signup_path,class: "btn btn-lg btn-primary"%>
</div>
<%=link_to image_tag("aditya.png", alt: "Rails logo"), 'https://github.com/Aditya-Chowdhry/'%>
